.git
.github
.gitignore
README.md
anarmitra-backend/target/
anarmitra-backend/.settings/
anarmitra-backend/.project
anarmitra-backend/.classpath
anarmitra-backend/mvnw
anarmitra-backend/mvnw.cmd
anarmitra-backend/.mvn/
